# vim: ft=zsh

case $(uname) in
    Linux)
    alias ls='ls --color=auto -aGFl'
    ;;
SunOS)
    alias ls='ls -aFl'
    ;;
*)
    alias ls='ls -aFGl'
    ;;
esac
if [[ -x '/Applications/Emacs.app/Contents/MacOS/bin/emacsclient' ]]; then
    alias e='emacs'
    alias emacs='/Applications/Emacs.app/Contents/MacOS/bin/emacsclient --no-wait'
fi
alias m='mutt'
