# vim: ft=zsh

case $(uname) in
    Linux)
    alias ls='ls --color=auto -aGFl'
    ;;
SunOS)
    alias ls='ls -aFl'
    ;;
*)
    alias ls='ls -aFGl'
    ;;
esac

alias bi='bundle install --local'
alias m='mutt'
alias make_bin_safe='mkdir -p .git/safe'
alias make_bin_unsafe='rm -r .git/safe'

