[user]
    email = paj-github@johnsy.com
    name = Pete Johns
[alias]
    br = branch
    ci = commit
    co = checkout
    cr = log --abbrev-commit -p
    df = diff
    lg = log --graph --pretty=format:'%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --all --decorate
    pr = pull --rebase
    sd = svn dcommit
    sfr = !git svn fetch && git svn rebase
    st = status
    today = diff --stat '@{yesterday}'
    wc = whatchanged --abbrev-commit
[color]
    ui = auto
[core]
    autocrlf = input
    excludesfile = ~/dotfiles/git-global-ignore
    pager = less -+$LESS -FRX
    whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
[web]
    browser = google-chrome
[browser "google-chrome"]
    cmd = /usr/bin/google-chrome
[merge]
    tool=vimdiff
[push]
	default = matching
